@import url("https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.peach {
  background-color: #F05D5D;
}

.App {
  text-align: center;
  background-color: #E6E5DE;
  font-family: 'Poppins';
  font-weight: 700;
  min-height: 100vh;
} 

header {
  width: 100vw;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
	background-color: #4E1681;
  z-index: 2;
}

.pink {
  color: #E6E5DE;
  font-size: 38px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #E6E5DE;
}

nav a {
  color: #E6E5DE;
  font-weight: 400;
  font-size: 20px;
  margin-right: 29px;
}
a {
  color: #E6E5DE;
  text-decoration: none;
}

a:hover {
  color: #E6E5DE;
  text-decoration-color: #F05D5D;
}

footer {
  min-height: 10vh;
  color: black;
  padding: 50px;
  background-color: #4E1681;
}


.hero {
  height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4E1681;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  z-index: 1;
}


.hero h1 {
  font-size: 68px;
  margin-left: 117px;
  align-self: flex-start;
  text-align: left;
  color: #E6E5DE;
}

main {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h2 {
  text-align: left;
}
.flexrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.boxes {
  background-color: #E6E5DE;
}

.justify {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  align-items: center;
  margin-bottom: 26px;
}


.boxholder {
  padding-top: 136px;
  background-color: #E6E5DE;
  padding-bottom: 124px;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    height: 281px;
    width: 207px;
    border-radius: 15px;
    background-color: #F7F7F7;
    box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.1);
    transition: all 1s;
}

.box:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.box p {
  color: #F05D5D;
  font-size: 21px;
}

img {
  width: 200px;
}


.signupbox {
  min-height: 75vh;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  color: #4E1681;
  justify-content: center;
  align-items: center;
}

.form {
  color: #4E1681;
  background-color: white;
  border-radius: 16px;
  padding: 42px;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}


.floatinglabel input {
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #4E1681;
  color: #4E1681;
}

.floatinglable input:focus {
  outline: none;
}

.submitbtn {
  justify-self: flex-start;
  align-self: flex-start;
  height: 56px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: #F05D5D;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  color: #E6E5DE;
  font-size: 28px;
  font-weight: 500;
  line-height: 37px;
  transition: all 0.2s;
}

.submitbtn:hover {
  background-color: rgb(207, 76, 76);
  transition: all 0.2s;
  cursor: pointer;
}



.form a {
  color: #F05D5D;
}

.form div,
.form select {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}



.hero a {
  align-self: flex-start;
  margin-left: 256px;

}

.join {
  margin-top: 42px;
  margin-bottom: 59px;
  height: 68px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: #F05D5D;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  color: #E6E5DE;
  font-size: 28px;
  font-weight: 500;
  line-height: 37px;
  transition: all 0.2s;
  align-self: flex-start;
  justify-self: flex-start;
}


.join:hover {
  background-color: rgb(207, 76, 76);
  transition: all 0.2s;
  cursor: pointer;
}


.statusbox {
  margin-top: 25px;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.postbox {
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  border-radius: 16px;
  padding: 25px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  margin: 20px 0 20px 0;
}

.postbox:hover {
  background-color: rgba(247, 247, 247, 0.76);
}


.statusbox input,
.statusbox textarea {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 8px;
  padding: 5px;
  border: 1px solid #4E1681;
  color: #4E1681;
}
#photo {
  border: none;
  width: 70%;
  margin-bottom: 0;
}
.statusbox button {
  width: 20%;
  background-color: #F05D5D;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border-radius: 8px;
  align-self: flex-end;
}
.statusbox button:hover {
  background-color: rgb(207, 76, 76);
  transition: all 0.2s;
  cursor: pointer;
}

.status {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.status > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.dash {
  display: flex;
  flex-direction: row;
  align-items: initial;
  padding-top: 25px;
}



.profileCard {
  width: 20vw;
  min-height: 70vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.profileCard img {
  height: auto;
  width: 15vw;
  border-radius: 8px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.19);
}

.userimgbox img:hover {
  opacity: 0.3;
}
.userimgbox span {
  position: absolute;
  margin-top: 50px;
  margin-left: 60px;
  font-size: 20px;
  opacity: 0;
  z-index: 3;
  color: #0C0C3E;
}
.userimgbox:hover span{
  margin-top: 100px;
  opacity: 1;
  z-index: 3;
}


.type {
  text-align: center;
  width: 100%;
  max-width: 150px;
  padding: 5px 15px;
  background-color: blue;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profileCard ul {
  list-style: none;
}

.secondaryNav {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100vw;
  justify-content: left;
}

.activeButton {
  background-color: #4E1681;
  border: none;
  color: #E6E5DE;
  padding: 5px 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-weight: bold;
}


.noButton {
  color: #E6E5DE;
  padding:0; 
  margin:0;
  border:0;
  background-color:transparent;
}

.notActiveButton {
  color: #4E1681;
  padding:0; 
  margin:0;
  border:0;
  background-color:transparent;
}



.friendcard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 30px;
  background-color: white;
  border-radius: 16px;
  padding: 26px 48px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11);
}

.friendcard img {
  border-radius: 16px;
  box-shadow: 0 1px 1px rgba(78, 22, 129, 0.11), 
              0 2px 2px rgba(78, 22, 129, 0.11), 
              0 4px 4px rgba(78, 22, 129, 0.11), 
              0 8px 8px rgba(78, 22, 129, 0.11), 
              0 16px 16px rgba(78, 22, 129, 0.11), 
              0 32px 32px rgba(78, 22, 129, 0.11);
  margin-bottom: 10px;
}

.friendlink {
  color: #4E1681;
}

.friendbutton {
  border: none;
  border-radius: 10px;
  padding: 5px 20px;
  background-color: #F05D5D;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  color: #E6E5DE;
  font-size: 18px;
  font-weight: 500;
  line-height: 37px;
  transition: all 0.2s;
}


.friendbutton:hover {
  background-color: rgb(207, 76, 76);
  transition: all 0.2s;
  cursor: pointer;
}

.is-active {
  font-weight: bold;
}


.friends {
  width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.content {
  min-height: 60vh;
  width: 80vw;
  border: 20px solid #4E1681;
  background-color:  #4E1681;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5); 
}


.content2 {
  min-height: 60vh;
  width: 80vw;
  border: 20px solid #4E1681;
  border-radius: 16px;
  background-color: #4E1681;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
}

.contentInner {
  min-height: 60vh;
  border-radius: 8px;
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.smallimg {
  height: 50px;
  width: 50px;
  border-radius: 8px;
}




/* Modal */
.backdrop {
  position: fixed;
  display: flex;
  padding-top: 100px;
  background-color: rgba(0,0,0,0.3);
  width: 100vw;
  height: 100vh;
  z-index: 2;
  margin-top: -110px;
}
.modal {
  background-color: #fff;
  border-radius: 16px;
  width: 80%;
  min-width: 400px;
  max-width: 800px;
  height: 70%;
  overflow: scroll;
  margin: 100px 20%;
  padding: 30px;
  display: flex;
  z-index: 4;
}
.modalnames {
  text-align: left;
  font-weight: 500;
  margin-bottom: 25px;
  z-index: 4;
}
.modalnames h3 {
  font-weight: 500;
}
.modalnames p {
  margin-left: 25px;
  font-weight: normal;
}
.actionform {
  width: 100%;
  padding: 10px;
}
.editinput {
  background-color: #F7F7F7;
  padding: 10px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #4E1681;
}
.editinput input {
  background-color: #F7F7F7;
  border: none;
}




@media screen and (max-width: 800px) {

  .hero h1 {
      font-size: 46px;
    margin-left: 25px;
  }
  .hero a {
    align-self: flex-start;
    margin-left: 25px;
  }
}

.options {
  width: 100vw;
}

@media screen and (max-width: 600px) {
  nav {
    width: 100vw;
  }
  header {
    flex-direction: column;
  }
  .activeButton,
  .notActiveButton  {
    font-size: 13px;
  }
}

/*
Purple 4E1681
ORANGE F05DSD
GREY F1ECE8
WHITE FFF
*/


