@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
$peach: #F05D5D;
$darkpeach: rgb(207, 76, 76);
$purple: #4E1681;
$darkpurple: rgb(58, 10, 104);
$light: #E6E5DE;
$favorite: #F7F7F7;
$warning: rgba(240, 93, 93, 0.5);

* {
  margin: 0;
  padding: 0;
}
.App {
  background-color: $light;
  font-family: 'Poppins';
} 

main {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


/* Landing Page */
header {
  width: 100vw;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
	background-color: $purple;
  z-index: 2;
  .pink {
    color: $light;
    font-size: 38px;
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    a {
      color: $light;
      font-size: 20px;
      margin-right: 29px;
    }
    .is-active {
      font-weight: bold;
    }
    .noButton {
      color: #E6E5DE;
      padding:0; 
      margin:0;
      border:0;
      background-color:transparent;
    }
  }
  a:hover {
    color: $light;
    text-decoration-color: $peach;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  color: black;
  padding: 50px;
  background-color: #4E1681;
  a {
    color: $light;
    font-size: 20px;
    margin-right: 29px;
  }
  a:hover {
    color: $light;
    text-decoration-color: $peach;
  }
}

.hero {
  min-height: 400px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $purple;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  z-index: 1;
  h1 {
    font-size: 68px;
    margin-left: 10%;
    align-self: flex-start;
    text-align: left;
    color: $light;
  }
  h2 {
    text-align: left;
  }
  a {
    align-self: flex-start;
    margin-left: 10%;
  }
  .join {
    margin-top: 42px;
    margin-bottom: 59px;
    height: 68px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background-color: $peach;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    color: $light;
    font-size: 28px;
    font-weight: 500;
    line-height: 37px;
    transition: all 0.2s;
    align-self: flex-start;
    justify-self: flex-start;
  }
  .join:hover {
    background-color: $darkpeach;
    transition: all 0.2s;
    cursor: pointer;
  }
}

.boxes {
  background-color: $light;
  .boxholder {
    padding-top: 136px;
    background-color: $light;
    padding-bottom: 124px;
    .box {
      display: flex;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 281px;
      width: 207px;
      border-radius: 15px;
      background-color: $favorite;
      box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.1);
      transition: all 1s;
      p {
        color: $peach;
        font-size: 21px;
        font-weight: 500;
      }
      img {
        width: 200px;
      }
    }
    .box:hover {
      transform: scale(1.2);
      transition: all 1s;
    }
  }
}


/* Signup/Login */
.signupbox {
  min-height: 75vh;
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  color: $purple;
  justify-content: center;
  align-items: center;
  .signup-login {
    display: flex;
    flex-direction: column;
  }
  .form {
    background-color: white;
    border-radius: 16px;
    padding: 42px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    a {
      color: $peach;
    }
    div, 
    select {
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: flex-start;
    }
  }
  .floatinglabel input {
    border-radius: 8px;
    padding: 5px;
    border: 1px solid $purple;
    color: $purple;
  }
  .floatinglabel input:focus {
    outline: none;
  }
  .submitbtn {
    justify-self: center;
    align-self: flex-end;
    // height: 56px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: $peach;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    color: $light;
    font-size: 18px;
    font-weight: 500;
    // line-height: 37px;
    transition: all 0.2s;
  }
  .submitbtn:hover {
    background-color: $darkpeach;
    transition: all 0.2s;
    cursor: pointer;
  }
}

/* dashboard */
.dash {
  display: flex;
  flex-direction: row;
  align-items: initial;
  padding: 50px 0;
  .profileCard {
    background-color: white;
    border-radius: 16px;
    padding: 15px;
    width: 20%;
    min-height: 70vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      background-color: inherit;
      border: none;
      align-self: flex-end;
      padding: 10px;
      .icon {
        color: $peach;
        font-size: 22px;
      }
    }
    .profileimg {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .userimgbox img:hover {
        opacity: 0.3;
      }
      .userimgbox span {
        position: absolute;
        margin-top: 50px;
        margin-left: 60px;
        font-size: 20px;
        opacity: 0;
        z-index: 3;
        color: #0C0C3E;
      }
      .userimgbox:hover span{
        margin-top: 100px;
        opacity: 1;
        z-index: 3;
      }
    }
    .userinfo {
      width: 85%;
      padding-bottom: 25px;
      text-align: left;
      h2 {
        font-size: 22px;
      }
      h4 {
        color: $purple;
        font-weight: 400;
        font-size: 16px;
      }
    }
    img {
      height: auto;
      width: 15vw;
      border-radius: 8px;
      box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.19);
    }
  }
  .secondary {
    width: 70vw;
    .statusbox {
      width: 70vw;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      border-radius: 16px;
      padding: 25px;
      .status {
        display: flex;
        flex-direction: column;
        width: 100%;
        div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          text-align: center;
        }
        #photo {
          border: none;
          width: 70%;
          margin-bottom: 0;
        }
      }
      input[type=text],
      textarea {
        margin-bottom: 20px;
        width: 100%;
        background-color: $favorite;
        padding: 5px;
        border: none;
        border-bottom: 2px solid $purple;
        color: black;
      }
      input[type=text]:focus,
      textarea:focus {
        outline: none;
        border: none;
        border-bottom: 2px solid $peach;
      }
      button {
        width: 30%;
        background-color: $peach;
        color: white;
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
        border-radius: 8px;
        align-self: flex-end;
      }
      button:hover {
        background-color: $darkpeach;
        transition: all 0.2s;
        cursor: pointer;
      }
    }
  }
}
.posts {
  width: 100%;
  .postbox {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    margin: 10px 0;
    .userimg {
      width: 10%;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }
    .contentbox {
      width: 100%;
      text-align: left;
      padding: 0px 5%;
      a {
        color: $purple;
      }
      h5 {
        font-weight: 500;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .postbox:hover {
    background-color: $favorite;
  }
}

.type {
  text-align: center;
  width: 100%;
  max-width: 150px;
  padding: 5px 15px;
  background-color: $purple;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}

.friends {
  width: 80vw;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
  .secondaryNav {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100vw;
    justify-content: left;
    .activeButton {
      background-color: $purple;
      border: none;
      color: $light;
      padding: 5px 20px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      font-weight: bold;
    }
    .notActiveButton {
      color: $purple;
      padding: 5px 20px;
      margin:0;
      border:0;
      background-color:transparent;
    }
  }
  .content {
    min-height: 70vh;
    width: 80vw;
    border: 20px solid #4E1681;
    background-color:  #4E1681;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  }
  .content2 {
    min-height: 60vh;
    width: 80vw;
    border: 20px solid #4E1681;
    border-radius: 16px;
    background-color: #4E1681;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  }
  .contentInner {
    min-height: 60vh;
    border-radius: 8px;
    margin: -10px;
  }
  .friendcard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    margin: 10px 0;
    img {
      width: 10%;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
      border-radius: 8px;
      margin-bottom: 10px;
    }
    .contentbox {
      display: flex;
      width: 100%;
      text-align: left;
      padding: 0px 5%;
      justify-content: space-between;
      .userinfo {
        h2 {
          font-size: 20px;
        }
        h3{ 
          font-size: 16px;
        }
      }
      a {
        color: $purple;
      }
      .friendbutton {
        display: flex;
        justify-content: center;
        align-items: center;
        button {
          border: none;
          border-radius: 10px;
          padding: 5px 20px;
          background-color: $peach;
          box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
          color: $light;
          font-size: 16px;
          font-weight: 500;
          // line-height: 37px;
          transition: all 0.2s;
        }
        button:hover {
          background-color: $darkpeach;
          transition: all 0.2s;
          cursor: pointer;
        }
      }
    }
  }
  .friendcard:hover {
    background-color: $favorite;
  }
}

.friendprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 16px;
  padding: 50px 0;
  .friendcard {
    padding: 20px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 16px;
    img {
      width: 20%;
      border-radius: 16px;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    }
    .content {
      width: 80%;
      padding: 30px;
    }
  }
}

.posts {
  .postbox {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: white;
    border-radius: 16px;
    padding: 10px;
    margin: 10px 0;
    .userimg {
      width: 10%;
      border-radius: 8px;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }
    .contentbox {
      width: 100%;
      text-align: left;
      padding: 0px 5%;
      a {
        color: $purple;
      }
      h5 {
        font-weight: 500;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .postbox:hover {
    background-color: $favorite;
  }
}
.commentsbtn {
  background-color: inherit;
  padding: 5px;
  font-weight: 600;
  color:$purple;
  border: none;
}
.commentsbtn:focus{
  outline:none;
}
.interactbtns {
  width: 10%;
  display: flex;
  justify-content: space-between;
  .icon {
    padding: 0px 5px;
    font-size: 25px;
    color: $peach;
  }
  .liked {
    padding: 0px 5px;
    font-size: 25px;
    color: $purple;
  }
  .unliked {
    padding: 0px 5px;
    font-size: 25px;
    color: $peach;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border: none;
    padding: 5px;
  }
  button:focus {
    outline: none;
  }
}

.addcomment input[type=text] {
  margin-bottom: 20px;
  width: 80%;
  background-color: #F7F7F7;
  padding: 5px;
  border: none;
  border-bottom: 2px solid #4E1681;
  color: black;
}
.addcomment input[type=submit] {
  margin-left: 5px;
  padding: 4px;
  background-color: inherit;
  border-radius: 6px;
  border: 1px solid $purple;
  color: $purple;
}
.addcomment input[type=submit]:hover {
  background-color: $purple;
  color: $light;
}

/* Modal */
.backdrop {
  position: fixed;
  top: 0;
  display: flex;
  padding-top: 100px;
  background-color: rgba(0,0,0,0.3);
  width: 100vw;
  height: 100vh;
  z-index: 2;
}
.modal {
  background-color: white;
  border-radius: 16px;
  width: 80%;
  min-width: 400px;
  max-width: 800px;
  height: 70%;
  overflow: scroll;
  margin: 100px 10%;
  padding: 30px;
  display: flex;
  z-index: 4;
  .actionform {
    width: 100%;
    padding: 10px;
    .modalnames {
    text-align: left;
    font-weight: 500;
    padding-bottom: 50px;
    z-index: 4;
      h3 {
        font-weight: 500;
      }
      p {
        margin-left: 25px;
        font-weight: normal;
      }
    }
    .editinput {
      background-color: $favorite;
      padding: 10px;
      margin: 15px 0;
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid $purple;
      input {
        background-color: $favorite;
        border: none;
        width: 80%;
      }
      .btn {
        width: 20%;
        border: 1px solid $purple
      }
      .btn:hover {
        color: $light;
        background-color: $purple;
      }
    }
    .btn {
      color: $purple;
      font-weight: 600;
      border: 1px solid $purple;
      margin-bottom: 10px;
    }
    .btn:hover {
      color: white;
      background-color: $purple;
      font-weight: 600;
      border: 1px solid $purple;
      margin-bottom: 10px;
    }
  }
}

.smallimg {
  height: 100px;
  width: auto;
  border-radius: 8px;
}

/* create group */ 
.creategroup {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: flex-start;
  background-color: white;
  border-radius: 16px;
  padding: 10px;
  margin: 10px 0;
  .actionform {
    width: 100%;
    padding: 10px;
    .modalnames {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: 500;
    z-index: 4;
      h3 {
        font-weight: 500;
      }
      p {
        margin-left: 25px;
        font-weight: normal;
      }
    }
    .editinput {
      background-color: $favorite;
      padding: 10px;
      margin: 15px 0;
      display: flex;
      flex-direction: column;
      border-bottom: 2px solid $purple;
      input {
        background-color: $favorite;
        border: none;
        width: 80%;
      }
      textarea {
        border: none;
        background-color: inherit;
      }
      .btn {
        width: 12%;
        border: 1px solid $purple
      }
      .btn:hover {
        color: $light;
        background-color: $purple;
      }
    }
    .btn {
      color: $purple;
      font-weight: 600;
      border: 1px solid $purple;
      margin-bottom: 10px;
      align-self: flex-end;
    }
    .btn:hover {
      color: white;
      background-color: $purple;
      font-weight: 600;
      border: 1px solid $purple;
      margin-bottom: 10px;
    }
  }
}

.commentcard {
  display: flex;
  img {
    width: auto !important;
    height: 50px !important;
    border-radius: 8px;
  }
  div {
    padding: 0px 10px;
  }
}

.joinbtn {
  text-align: center;
  width: 100%;
  max-width: 150px;
  padding: 5px 15px;
  background-color: $peach;
  font-size: 18px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}
.joinbtn:hover {
  color: white;
  background-color: $darkpeach;
  font-weight: 600;
  margin-bottom: 10px;
}
.joinbtn:focus {
  outline: none;
}


.statusbox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  padding: 25px;
  .status {
    display: flex;
    flex-direction: column;
    width: 100%;
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
    }
    #photo {
      border: none;
      width: 70%;
      margin-bottom: 0;
    }
  }
  input[type=text],
  textarea {
    margin-bottom: 20px;
    width: 100%;
    background-color: $favorite;
    padding: 5px;
    border: none;
    border-bottom: 2px solid $purple;
    color: black;
  }
  input[type=text]:focus,
  textarea:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid $peach;
  }
  button {
    width: 30%;
    background-color: $peach;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    align-self: flex-end;
  }
  button:hover {
    background-color: $darkpeach;
    transition: all 0.2s;
    cursor: pointer;
  }
}


/* Flash Message */
.flashmessage {
  background-color: $warning;
  color: black;
  padding: 10px;
  font-weight: 500;
  border-radius: 8px;
  margin-bottom: 20px;
}


/* MOBILE CSS */



@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .hero {
    h1 {
      font-size: 2.5em;
    }
  }
  .justify {
    margin: 20px 25%;
  }
  .dash {
    flex-direction: column;
    align-items: center;
    .profileCard {
      width: 90%;
      img {
        width: 25vw;
      }
    }
    .secondary {
      width: 100%;
      .statusbox {
        width: 90%;
        margin: 20px auto;
      }
      .posts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .postbox {
          width: 90%
        }
      }
    }
  }
  .friendprofile {
    .friendcard {
      flex-direction: column;
      img {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero {
    h1 {
      font-size: 2em;
    }
  }
  .justify {
    margin: 20px 15%;
  }
  .navButtons {
    font-size: 12px;
  }
}

@media screen and (max-width: 450px) {
  header {
    nav {
      a {
        font-size: 16px;
      }
    }
  }
  .navButtons {
    font-size: 10px;
  }
}



